@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* SWIPER */
.swiper-container {
}

/* GENERAL */
body {
    color: #fff;
    font-family: PT Sans;
    font-size: 14px;
    background: #000;
}

a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

.wrapper {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}

.link {
    border: 1px solid #fff;
    padding: 17px 28px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: inline-block;
}

.active,
li.active a {
    color: #fff !important;
    background: #1F1F1F;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
    font-family: 'Playfair Display', serif;
    word-wrap: break-word;
}

h3::after {
    content: '';
    position: relative;
    border-bottom: 1px solid #fff;
    width: 120px;
    display: block;
    bottom: -20px;
    left: calc(50% - 60px);
}

input, button {
    outline: none;
}

/* HEADER */
/* HEADER.TOP_LINE */
.top_line {
    min-height: 44px;
    background: #000;
    color: #969696;
    font-size: 12px;
    line-height: 16px;
}

.flexAlignCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_line .flexAlignCenter {
    min-height: 44px;
}

.top_line a {
    color: #969696;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.contacts_item:not(:last-child)::after {
    content: '|';
    padding-left: 12px;
    margin-right: 14px;
}

.contacts_phone {
    padding-left: 10px;
}

.contacts_phone::before {
    content: "";
    display: inline-block;
    width: 14px;
    position: relative;
    height: 14px;
    top: 2px;
    left: -8px;
    background: url('../img/icons/phone.png');
}

.signInBtn {
    padding-left: 4px;
    display: inline-block;
}

.signInBtn::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../img/icons/exit.png');
    position: relative;
    top: 2px;
    left: -4px;
}

/* HEADER.BOTTOM_LINE */
.logo {
    min-width: 104px;
}

.mobile_info {
    display: none;
}

.bottom_line {
    min-height: 80px;
    background: #0F0F0F;
}

/* FIRST SCREEN */
.porten_screen {
    background: url('../img/first-screen.jpg') center no-repeat;
    background-size: cover;
    padding: 8% 15px 6% 15px;
}

.porten {
    margin: 0 auto;
    max-width: 320px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 4%;
}

.main_pharaf {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

/* SECOND SCREEN */

.second_screen {
    min-height: 0;
    display: flex;
    justify-content: space-between;
}

.new_season {
    max-width: 60%;
    padding: 70px 35px 80px;
    display: inline-block;
    flex: 0 1 60%;
}

.new_season .products_list {
    max-width: 880px;
    display: flex;
}

.swiper-container {
    width: 100%;
}

.swiper-1 .swiper-wrapper {
    flex-wrap: wrap;
    margin: 0 -10px;
}

.swiper-1 .swiper-slide {
    padding: 0 10px;
    flex: 0 1 25%;
}

.new_season .products_item {
    font-family: 'Playfair Display', serif;
}

.second_screen .products_item {
    margin-bottom: 0;
}

.item_header {
    font-size: 18px;

}

.item_price {
    font-size: 16px;
}

.slick-slide {
    padding: 0 20px;
}

.new_items_screen {
    flex-wrap: wrap;
}

.new_items_screen .products_list {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.new_items_screen .products_list > div {
    flex: 1 1 25%;
}

.new_items_screen .products_item {
    margin-bottom: 40px;
}

@media screen and (max-width: 960px) {
    .products_list {
        flex-wrap: wrap;
    }
}

.brand_item,
.brand_item img {
    max-height: 94px;
    margin: 0 auto;
}

.img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191B1C;
    padding: 56px 2px;
    margin-bottom: 20px;
}

.item_header {
    margin-bottom: 10px;
    line-height: 24px;
}

.item_price {
    font-size: 16px;
    line-height: 21px;
}

.new_collection {
    background: url('../img/new_collection_bg.png') left top no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100%;
    align-items: flex-end;
    justify-content: center;
    padding: 2% 0 8%;
    width: 40%;
    flex: 0 1 40%;
}

.new_collection .content {
    text-align: center;

}

.third_screen {
    display: flex;
    flex-direction: row;
    min-height: 56vh;
}

.img_block {
    width: 40%;
    background: url('../img/img_block_bg.jpg') top center no-repeat;
    background-size: cover;
}

.collection_block {
    width: 60%;
    padding: 4% 0 4% 0;
}

.collection_block,
.collection_block .content {
    text-align: center;
}

.collection_block p {
    max-width: 480px;
    text-align: center;
    margin: 0 auto;
    padding: 0 15px 50px 15px;
    line-height: 21px;
}

.collection_block .link {
    margin-bottom: 80px;
}

/* NEW_ITEMS_SCREEN */

.new_items_screen {
    padding: 70px 0 5px;
}



/* OUR BRANDS */
.our_brands {
    background: #0F0F0F;
    padding: 6% 0 6% 0;
}

.brand_items_list {
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: wrap;
}



/* FOOTER */

footer h4 {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 32px;
}

.footer_main_block {
    background: #0F0F0F url('../img/footer_bg.png') center no-repeat;
    background-size: cover;
    padding: 80px 15px;
    font-size: 14px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.about_magazine,
.categories,
.distribution {
    width: 33%;
    text-align: left;
}

.footer_copyright {
    padding: 17px 0;
    background: #0F0F0F;
}

.footer_copyright .wrapper .align_block {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #D0D0D0;
}

.footer_copyright_text {
    font-weight: bold;
    text-align: right;
    text-decoration: underline;
}

.distribution_paragraph {
    margin-bottom: 36px;
}

.subscribe {
    display: flex;
}

.subscribe input {
    background: rgba(255, 255, 255, 0.4);
    border: 0;
    margin: 0;
    padding: 10px 20px;
    color: #fff;
    max-width: 210px;
    width: 70%;
}

.subscribe input::placeholder {
    color: #fff;
    text-align: center;
}

.subscribe button {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.categories_links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.categories_link {
    display: inline-block;
    padding: 10px 20px;
    color: #D0D0D0;
    background: #0F0F0F;
}

@media only screen and (min-width : 260px)  {

    .logo {
        display: flex;
        justify-content: center;
        padding: 15px 0;
    }

    .burger_btn {
        display: inline-block;
        padding: 15px;
        max-height: 50px;
        margin-bottom: 5px;
    }

    .burger_icon {
        display: inline-block;
        height: 15px;
        width: 30px;
        position: relative;
        display: flex;
        align-items: center;
    }

    .burger_icon span {
        width: 100%;
        display: inline-block;
        height: 1px;
        background-color: #fff;
    }

    .burger_icon:before,
    .burger_icon:after {
        content: '';
        display: inline-block;
        width: 100%;
        position: absolute;
        height: 1px;
        background: #fff;
    }

    .burgerToggle .burger_icon span {
        display: none;
    }

    .burger_icon:before {
        top: 0;
        left: 0;
    }

    .burger_icon:after {
        bottom: 0;
        left: 0;
    }

    .burgerToggle .burger_icon:before {
        transform: rotate(45deg);
        top: 10px
    }

    .burgerToggle .burger_icon:after {
        transform: rotate(-45deg);
        bottom: 4px;
    }

    .nav li,
    .helpNav li {
        text-align: center;
    }

    .nav li a,
    .helpNav li a {
        font-size: 14px;
        color: #969696;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
    }

    .helpNav {
        display: flex;
        justify-content: center;
    }

    .helpNav li {
        width: 60px;
        height: 40px;
    }

    nav li a:hover {
        background: #1F1F1F;
        cursor: pointer;
        color: #fff;
    }

    .navCard:hover {
        background: #1F1F1F url('../img/icons/shop.png') center no-repeat;
    }

    .navSearch:hover {
        background: #1F1F1F url('../img/icons/search.png') center no-repeat;
    }

    .navCard,
    .navSearch {
        display: block;
        width: 100%;
        background: transparent url('../img/icons/shop.png') center no-repeat;
        height: 20px;
    }

    .navSearch {
        background: transparent url('../img/icons/search.png') center no-repeat;
    }


}

@media only screen and (min-width : 600px)  {
    .logo {
        padding: 14px 0 16px 0;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav li {
        /*padding: 0 20px;*/
        display: flex;
        align-items: center;
    }

    .helpNav {
        display: flex;
    }
}

@media only screen and (max-width : 1240px) {
    .second_screen {
        min-height: 54vh;
    }

    .third_screen {
        min-height: 54vh;
    }
}

@media only screen and (max-width : 1100px) {
    .brand_item {
    }

    h3  {
    }
}

@media only screen and (max-width : 960px) {

    h3 {
        font-size: 32px;
    }

    footer h4  {
        font-size: 20px;
    }

    .main_pharaf {
        font-size: 14px;
    }

    .second_screen {
        height: auto;
        display: block;
    }

    .new_season {
        min-height: 50vh;
        min-width: 100%;
        padding: 4% 20px 6%;
    }

    .new_collection {
        min-height: 54vh;
    }

    .collection_block {
        min-height: 64vh;
    }

    .third_screen {
        height: auto;
    }

    .img_block {
        min-height: 54vh;
    }

    .new_items_screen {
        min-height: 64vh;
        padding: 4% 0 5px;
    }

    .collection_block .link {
        margin-bottom: 40px;
    }

    .third_screen {
        flex-direction: column;
    }

    .img_block {
        width: 100%;
        order: 2;
    }

    .collection_block {
        width: 100%;
    }

    .our_brands {
        padding: 4% 0 6%;
    }

    .card_item,
    .brand_item {
        text-align: center;
    }

    .card_item img,
    .brand_item img {
        margin: 0 auto;
    }

    .second_screen {
        flex-direction: column;
    }

    .new_season,
    .new_collection {
        width: 100%;
    }

    .footer_container {
        flex-wrap: wrap;
    }

    .footer_main_block {
        padding: 40px 40px;
    }

    .about_magazine {
        width: 100%;
        margin-bottom: 60px;
    }

    .categories,
    .distribution {
        width: 40%;
        margin-bottom: 60px;
        text-align: center;
    }

    .subscribe {
        justify-content: center;
    }

    .subscribe button {
        font-size: 10px;
    }
}


@media only screen and (max-width : 768px)  {
    h3 {
    }
    .link {
        font-size: 14px;
    }

    .new_items_screen {
        padding: 4% 0 6%;
    }

    .new_items_screen .products_item {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width : 760px) {
    .about_magazine {
        text-align: center;
    }

    .categories,
    .distribution {
        width: 100%;
    }

    .subscribe button {
        font-size: 12px;
    }

    .footer_main_block {
        padding: 40px 80px
    }
}

@media only screen and (min-width : 600px) {
    .burger_btn {
        display: none;
    }
}

@media only screen and (min-width : 680px) {
    .logo {
        margin-right: 30px;
        padding: 0;
    }

    .bottom_line .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo, nav {
        height: 80px;
        display: flex;
        align-items: center;
    }

    nav {
        height: 30px;
    }

    .nav li {
        height: 80px;
    }

    .nav li a {
        height: 80px;
        display: inline-block;
        line-height: 80px;
        padding: 0 20px;
    }

    .helpNav li a,
    .helpNav li {
        height: 80px;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width : 680px) {
    .collection_block {
        min-height: 52vh;
        padding: 10% 0 4% 0;
    }

    .main_pharaf {
        font-size: 14px;
    }

    .second_screen .new_season {

    }

    .new_items_screen .item_header {
        font-size: 16px;
    }

    .new_items_screen .item_price {
        font-size: 14px;
    }
}

@media only screen and (min-width : 769px) {
    .new_items_screen .products_list > div {
    }
}

@media only screen and (min-width : 620px) {
    .new_season {
    }

    .collection_block {
        min-height: 52vh;
        padding: 4% 0 0 0;
    }

    .new_items_screen {
        min-height: 50vh;
    }
}

@media only screen and (max-width : 640px) {
    .item_header,
    .item_price {
        text-align: center;
    }

    .swiper-1 .swiper-wrapper {
        flex-wrap: nowrap;
        margin: 0 -10px;
    }

    .swiper-1 .swiper-slide {
        flex: 1 0 auto;
        padding: 0;
    }

    .new_items_screen .products_item {
        margin-bottom: 0px;
    }

    .new_items_screen .wrapper {
        padding: 0 0 0;
    }

    .new_season {
        padding: 4% 0 6%;
    }

}

@media only screen and (max-width : 620px) {
    .new_items_screen {
        min-height: 42vh;
    }

    h3  {
        font-size: 28px;
        margin-bottom: 50px;
    }

    .main_pharaf {
        font-size: 12px;
    }

    .item_header {
        font-size: 16px;
    }

    .item_price {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    .link, .subscribe button {
        font-size: 11px;
    }

    .footer_container {
        gap: 8px;
    }
}

@media only screen and (max-width : 600px) {
    h3 {
    }

    .link {
        padding: 14px 20px;
    }

    .top_line {
        display: none;
    }

    .main_nav {
        position: absolute;
        left: 0;
        background: #0F0F0F;
        top: 100%;
        padding: 0 0 20px 0;
        display: none;
    }

    .mobile_info {
        display: block;
    }

    .main_nav .contacts {
        margin: 0 0 40px 0;
    }

    .main_nav .nav {
        margin-bottom: 20px;
    }

    .main_nav .mobile_info {
        text-align: center;
        padding: 0 20px;
    }

    .second_screen {
        height: auto;
    }

    .new_season {
        min-height: 48vh;
        padding: 8% 0 10%
    }

    .new_collection {
        min-height: 44vh;
    }

    .collection_block {
        min-height: 52vh;
        padding: 10% 0 4% 0;
    }

    .third_screen {
        height: auto;
    }

    .img_block {
        min-height: 44vh;
    }

    .new_items_screen {
        min-height: 42vh;
        padding: 8% 0 10%;
    }

    .new_items_screen .wrapper {
        padding: 8% 0 10%;
    }

    .card_list {
        padding: 0;
    }

    .card_item {
        max-width: 25%;
        display: block;
    }

    .card_item img {

    }

    .bottom_line {
        min-height: 56px;
    }

    .bottom_line .wrapper {
        min-height: 40px !important;
    }

    .nav {
        background: #0F0F0F;
        z-index: 3;
    }
    
    .nav .nav_item {
        width: 100%;
        display: inline-block;
    }

    .porten_screen {
        min-height: 60vh;
        padding: 14% 15px 6% 15px;
    }

    .porten {
        text-align: center;
    }

    .porten img {
        max-width: 80%;
        margin: 0 auto;
    }

    .main_pharaf {
        font-size: 12px;
        padding-top: 6%;
    }

    .nav {
    }

    .bottom_line .wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        min-height: 80px;
    }

    nav {
        display: flex;
    }

    .burger_btn {
        order: 3;
    }

    .nav {
        order: 2;
    }

    .nav li a {
        display: block;
        width: 100vw !important;
    }

    .helpNav {
        order: 1;
    }

    .helpNav li a,
    .burger_btn {
        min-height: 56px;
        margin: 0;
    }

    .burger_btn {
        display: flex;
        align-items: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media only screen and (max-width : 581px)  {
    .top_line_wrapper {

    }

    .contacts {
        padding: 10px 0;
        display: block;
        text-align: center;
    }

    .contacts li {
        margin: 5px 0;
    }

    .contacts_item::after {
        display: none;
    }

    .login {
    }
}

@media screen and (max-width : 520px) {
    .products_item {
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width : 480px) {
    .footer_main_block {
        padding: 40px;
    }
}

@media screen and (max-width : 400px) {
    .card_item {
        max-height: 360px;
    }

    .card_item img {
        max-height: 260px;
    }

    .new_season,
    .new_items_screen {
        min-height: 40vh;
    }

    .align_block {
        flex-direction: column;
        align-items: center;
    }

    .subscribe {
        display: flex;
        flex-wrap: wrap;
        padding: 0 30px;
    }

    .subscribe input {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 10px 30px;
    }

    .subscribe button {
        flex: 0 0 100%;
    }

    .footer_copyright {
        padding: 0;
    }

    .align_block span:nth-child(1) {
        order: 2;
        padding: 0 0 4px 0;
    }

    .align_block span:nth-child(2) {
        order: 1;
    }

    .align_block span {
        padding: 10px 0;
    }

    .footer_main_block {
        padding: 40px 20px 0;
    }

    .distribution {
        margin-bottom: 40px;
    }
}

@media screen and (max-width : 320px) {
    .top_line .flexAlignCenter {
        display: block;
    }

    .contacts {
        margin-bottom: 8px !important;
    }

    .contacts_phone {
        margin-top: 0 !important;
    }

    .login {
        text-align: center;
    }

    .bottom_line .wrapper {
        flex-wrap: wrap;
    }

    .logo img {
        margin: 0 auto;
    }

    .logo {
        width: 100%;
        display: block;
    }

    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .burger_btn {
        align-self: flex-end;
        justify-content: flex-end;
    }
}

@media screen and (max-width : 340px) {
    .brand_item img {
    }
}

@media screen and (max-width : 320px) {
    header {
    }
}

@media screen and (max-width : 280px) {

}



